{{define "post_item"}}
<li {{if .FormMeta.IsLastItem}}
    hx-get="/admin/posts?page={{.FormMeta.Page}}&pageSize=10"
    hx-trigger="revealed" hx-swap="afterend" {{end}}>
    <div class="lg:w-3/5 sm:w-4/5 xs:w-10/12 self-center mx-auto px-auto my-10">
        <h2 class="text-justify" >
            <a href="/admin/posts/{{.ID}}">{{.Title}}</a>
        </h2>
        <p class="text-justify my-0">Created at:
            {{.CreatedAt.Format "January, 02 2006"}} | Updated at:
            {{.UpdatedAt.Format "January, 02 2006"}}</p>
        <p class="text-justify minor">Status: {{.Status}}</p>
        <p class="text-justify text-ellipsis line-clamp-2">{{.Content}}</p>
    </div>
</li>
{{end}}