APP_PORT=4040
DATABASE_URL=

JWT_SECRET=

CSRF_SECRET=
OAUTH_CLIENTID=
OAUTH_SECRET=
OAUTH_AUTHORIZE_URL=https://github.com/login/oauth/authorize
OAUTH_ACCESSTOKEN_URL=https://github.com/login/oauth/access_token
OAUTH_URL=