APP_PORT=4040
DATABASE_URL=

DB_HOST=localhost
DB_PORT=5656
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=

JWT_SECRET=

CSRF_SECRET=
OAUTH_CLIENTID=
OAUTH_SECRET=
OAUTH_AUTHORIZE_URL=https://github.com/login/oauth/authorize
OAUTH_ACCESSTOKEN_URL=https://github.com/login/oauth/access_token
OAUTH_URL=

RESUME_POST_ID=118

STORE_VOL_PATH="data"
