ENV=dev
APP_PORT=4040

LIBSQL_URL= 
LIBSQL_AUTH_TOKEN=

JWT_SECRET=

CSRF_SECRET=
OAUTH_CLIENTID=
OAUTH_SECRET=
OAUTH_AUTHORIZE_URL=https://github.com/login/oauth/authorize
OAUTH_ACCESSTOKEN_URL=https://github.com/login/oauth/access_token
OAUTH_URL=

RESUME_POST_ID=118

STORE_VOL_PATH="data"
CF_ACCOUNT_ID=
CF_SERVICE_ID=

CF_ANALYTICS_GQL_API_KEY=
CF_ANALYTICS_EMAIL=

CF_R2_ACCESS_KEY_ID=
CF_R2_SECRET_ACCESS_KEY=

POST_RENDER_PATH=
