{{define "contact"}}
{{template "upper_body" .}}
<div id="admin-content" class="relative w-full md:mx-auto md:max-w-3xl lg:max-w-4xl pt-8">
    <h2>Contact Me!</h1>
        <p class="text-start">You can find me on the followings socials
        </p>
        <ul>
            <li><a
                    href="https://www.linkedin.com/in/muhammad-wyndham-haryata-permana-b43ab2134/">LinkedIn</a>
            </li>
            <li><a href="https://www.github.com/muhwyndhamhp">GitHub</a>
            </li>
            <li><a href="https://mwyndham.medium.com">Medium</a></li>
        </ul>
        <p class="text-start">Or via good old email via <a
                href="mailto:wyndham.haryata.p@outlook.com">wyndham.haryata.p@outlook.com</a>
        </p>
</div>
{{template "lower_body" .}}
{{end}}