{{define "posts_detail"}}
<!DOCTYPE html>
<html>

<head>
    {{template "head_tags"}}
    <title>mwyndham.dev</title>
</head>

<body id="admin-root">
    {{template "static_background"}}
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden pt-8 lg:pt-12">
        <div
            class="relative w-full md:mx-auto md:max-w-3xl lg:max-w-4xl">
            {{template "admin_header" .FormMeta}}
            <br>
            <h1 class="text-center">{{.Title}}</h1>
            <div class="mt-6 mb-4 px-4 md:px-0">
                {{template "post_metadata" .}}
            </div>
            {{if .FormMeta.UserID}}
            <div class="inline">
                <button hx-get="/posts/{{.ID}}/edit" hx-target="#admin-root"
                    hx-push-url="true" class="inline-block mx-2 my-4 uppercase">
                    Edit
                </button>
                <button hx-get="/posts/{{.ID}}/delete" hx-target="#admin-root"
                    _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire({title: 'Confirm Delete', text:'Do you want to continue?'})
                    if result.isConfirmed issueRequest()"
                    class=" inline-block mx-2 my-4 uppercase">
                    Delete
                </button>
                <button
                    hx-get="{{if eq .Status "draft"}} /posts/{{.ID}}/publish {{else}} /posts/{{.ID}}/draft {{end}}"
                    hx-target="#admin-root" _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire(
                        {title: 'Confirm {{if eq .Status "draft"}}Publish{{else}}Unpublish{{end}}', text:'Do you want to continue?'}
                        )
                    if result.isConfirmed issueRequest()"
                    class=" inline-block mx-2 my-4 uppercase">
                    {{if eq .Status "draft"}}Publish{{else}}Unpublish{{end}}
                </button>
            </div>
            {{end}}
        </div>
        <div
            class="relative w-full md:rounded-xl bg-stone-100 px-6 dark:bg-slate-950 md:max-w-3xl lg:max-w-4xl md:pt-4 lg:pb-28 lg:pt-6 mt-4 py-8 md:mx-auto shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5">
            {{template "markdown_body" .EncodedContent}}
        </div>
        <br>
        {{template "admin_footer" .FormMeta}}
    </div>
</body>

</html>
{{end}}