{{define "posts_edit"}}
<!DOCTYPE html>
<html>

<head>
    {{template "head_tags"}}
    <title>mwyndham.dev</title>
</head>

<body id="admin-root">
    {{template "static_background"}}
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden pt-8 lg:pt-12 text-center">
        {{template "admin_header" .FormMeta}}
        <br>
        <div class="flex md:flex-row xs:flex-col">
            <div class="md:basis-5/12">
                {{template "post_form" .}}
                {{template "tag_form" .Tags}}
                <button hx-post="/posts/{{.ID}}/update" hx-target="#admin-root"
                    hx-include="#form-post, #tag-flex" hx-swap="innerHTML"
                    hx-push-url="true"
                    class="focus:border-transparent focus:outline-nonefocus:outline-sky-600 border-transparent bg-teal-800 p-2 my-3 drop-shadow-md text-slate-100 px-8 text-lg border-none rounded-md mx-2">
                    Submit
                </button>
                <button hx-get="/posts/{{.ID}}" hx-push-url="true"
                    hx-target="#admin-root"
                    class="focus:border-transparent focus:outline-nonefocus:outline-sky-600 border-transparent bg-white p-2 my-3 drop-shadow-md text-teal-800 px-8 text-lg border-none rounded-md mx-2">
                    Cancel
                </button>
            </div>
            {{template "post_preview" .}}
        </div>
        <br>
        {{template "admin_footer" .FormMeta}}
    </div>
</body>

</html>
{{end}}