{{define "unauthorized"}}
<!DOCTYPE html>
<html>

<head>
    {{template "head_tags"}}
    <title>mwyndham.dev</title>
</head>

<body id="admin-root">
    {{template "static_background"}}
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden pt-8 lg:pt-12 text-center px-8">
        {{template "admin_header" .}}
        <br>
        <div id="admin-content">
            <h2>Your Account is Unauthorized!</h1>
                <p>Do you looking for <a href="/posts_index">homepage?</a></p>
        </div>
        <br>
        {{template "admin_footer" .}}
    </div>
</body>

</html>
{{end}}