{{define "admin_footer"}}

<div
    class="flex-row w-full h-16 dark:bg-slate-900 bg-slate-200 px-8 text-center pt-2 mt-20">
    <div class="inline flex-auto list-none">
        <div class="inline-block mx-2">
            <button class="mt-4">
                <a href="/contact"><strong>Contact Me</strong></a>
            </button>
        </div>
        <div class="inline-block mx-2">
            <button class="mt-4">
                <a href="/resume"><strong>Resume</strong></a>
            </button>
        </div>
        {{if .UserID}}
        {{else}}
        <div class="inline-block mx-2">{{template "login_button"}}</div>
        {{end}}
    </div>
</div>
{{end}}