{{define "admin_header"}}
<header class="header xs:mt-20 md:mt-10 text-center">
    <div class="w-full flex-row">
        <a href="/">
            <h1 class="flex-auto mb-10">
                mwyndham.dev
            </h1>
        </a>
        <div class="inline flex-auto list-none bg-slate-200 dark:bg-slate-900 rounded-md px-4 py-4 w-full">
            <div class="inline-block mx-4">
                <button class="mt-4">
                    <a href="/posts_index"><strong>Articles</strong></a>
                </button>
            </div>
            <div class="inline-block mx-2">
                <button class="mt-4">
                    <a href="/contact"><strong>Contact Me</strong></a>
                </button>
            </div>
            <div class="inline-block mx-2">
                <button class="mt-4">
                    <a href="/resume"><strong>Resume</strong></a>
                </button>
            </div>
            {{if .UserID}}
            <div class="inline-block mx-4">{{template "create_post_button"}}
            </div>
            <div class="inline-block mx-4">{{template "manage_post_button"}}
            </div>
            <div class="inline-block mx-4">{{template "logout_button"}}</div>
            {{end}}
        </div>
    </div>
</header>
{{end}}