{{define "head_tags"}}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script async src="/dist/htmx.min.js"></script>
<script async src="/dist/main.js"></script>
<link rel="stylesheet" href="/dist/tailwind.css">
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
<script async src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script async src="https://unpkg.com/hyperscript.org@0.9.11"></script>
{{end}}