{{define "post_form"}}
<!-- Requires models.Post struct -->
<form id="form-post">
    <label>
        <h2>Put your toughts here</h2>
    </label>
    <br>
    <input placeholder="Blog title goes here..."
        class="focus:border-transparent focus:outline-none focus:outline-sky-600 border-transparent shadow-2xl shadow-rose-800/30 w-10/12 p-3 rounded-t-lg mt-0"
        type="text" name="title" {{if .Title}}value="{{.Title}}" {{end}}>
    <br>
    <textarea id="form-content" ondrop="upload(event)"
        ondragover="allowDrop(event)" placeholder="And the rest goes here!"
        hx-trigger="keyup changed delay:500ms, content" hx-post="/posts/render"
        hx-target="#preview"
        class="focus:border-transparent focus:outline-none focus:outline-sky-600 border-transparent shadow-2xl shadow-rose-800/30 w-10/12 p-3 rounded-b-lg h-96 mt-1"
        type="text"
        name="content">{{if .Content}} {{.Content}} {{end}}</textarea>
</form>
<br>
<input placeholder="Tags goes here..." hx-post="/tags/find-or-create"
       hx-trigger="keydown[key=='Enter'], tag" hx-target="#tag-flex"
       hx-include="#tag-flex" hx-swap="beforeend"
       hx-on::after-request="this.value = ''"
       class="focus:border-transparent focus:outline-none focus:outline-sky-600 border-transparent shadow-2xl shadow-rose-800/30 w-10/12 p-3 rounded-lg mt-0"
       type="text" name="tag">
<br>
<div class="md:ps-4 mt-4">
    <div id="tag-flex" class="mx-6 flex flex-row flex-wrap w-12/12">
        {{range .Tags}}
        {{template "tag_item" .}}
        {{end}}
    </div>
</div>
<br>
<button hx-post="{{.FormMeta.SubmitPath}}" hx-target="#admin-root"
    hx-include="#form-post, #tag-flex" hx-swap="innerHTML"
    class="focus:border-transparent focus:outline-nonefocus:outline-sky-600 w-3/5 border-transparent bg-gradient-to-r dark:from-teal-700 dark:via-blue-950 dark:to-indigo-700 from-rose-200 via-stone-200 to-slate-200 py-4 my-3 shadow-2xl shadow-blue-800/60 ring-1 dark:ring-2 ring-rose-800/30 dark:ring-slate-900 dark:text-slate-100 border-none rounded-xl mx-2">
    Submit
</button>
<button hx-get="{{.FormMeta.CancelPath}}" hx-push-url="true" hx-target="#admin-root"
    class="focus:border-transparent focus:outline-nonefocus:outline-sky-600 w-1/5 border-transparent bg-white py-4 my-3 drop-shadow-md text-indigo-800 border-none rounded-xl mx-2">
    Cancel
</button>
{{end}}