{{define "post_item"}}
<div {{if .FormMeta.IsLastItem}}
     hx-get="/posts?page={{.FormMeta.Page}}&pageSize=10{{if .FormMeta.PublishedOnly}}&status=published{{end}}{{if .FormMeta.SortQuery}}&sortBy={{.FormMeta.SortQuery}}{{end}}"
     hx-trigger="revealed"
     hx-swap="afterend"
     {{end}}>
    <div class="bg-slate-200 dark:bg-slate-900 rounded-md p-4 
         {{template "style_common_width"}} 
         self-center mx-auto px-auto my-4">
        <h2 class="text-start">
            <a href="/posts/{{.ID}}">{{.Title}}</a>
        </h2>
        <p class="text-justify minor my-0">Published at:
            {{.PublishedAt.Format "January, 02 2006"}} | Updated at:
            {{.UpdatedAt.Format "January, 02 2006"}}</p>
        <p class="text-justify minor">Status: {{.Status}}</p>
    </div>
</div>
{{end}}