{{define "post_item"}}
<!-- Requires models.Post struct -->
<div {{if .FormMeta.IsLastItem}}
    hx-get="{{.FormMeta.NextPath}}"
    hx-trigger="revealed" hx-swap="afterend" {{end}}>
    <div
        class="bg-stone-100 dark:bg-slate-900 md:rounded-md p-4 relative w-full md:mx-auto md:max-w-3xl lg:max-w-4xl px-4 md:px-0 self-center mx-auto px-auto md:my-4">
        <div class="mx-4">
            <h2>
                <a href="/posts/{{.ID}}">{{.Title}}</a>
            </h2>
            {{template "post_metadata" .}}
        </div>
    </div>
</div>
{{end}}