package pub_elements

import "github.com/muhwyndhamhp/marknotes/pub/variables"
import "github.com/muhwyndhamhp/marknotes/pub/base"

templ AnchorButton(btn pub_variables.InlineButton) {
	<!-- prettier-ignore-attribute -->
	<button
		if pub_base.IsVisible(btn.AuthRule, btn.UserID) {
			class="visible mx-4 mt-4 inline-block"
		} else {
			class="mx-4 mt-4 inline-block hidden"
		}
	>
		<a href={ templ.URL(btn.AnchorUrl) }><strong>{ btn.Label }</strong></a>
	</button>
}
