package pub_intro

templ Intro() {
	<div class="flex flex-col prose-sm prose-a:font-extrabold prose-a:underline">
		<div
			class="mb-4 mt-8 basis-1/2 rounded-box bg-accent p-4 shadow-2xl
      shadow-accent/20 bg-opacity-30"
		>
			<p class="text-justify">
				<strong class="text-xl">Welcome!</strong>
				<br/>
				This is my personal Blog. Originally, this blog started as an example project
				to create web apps using only
				<strong>HTMX, Golang and Tailwind CSS</strong>. But I love the
				result soo much
				that I decided to just reuse the project as the basis of
				my
				(already planned) blog.
				<br/>
				<br/>
				I open sourced the code of this very blog in my
				<a href="https://github.com/muhwyndhamhp/marknotes">GitHub.</a>
				Feel free to use it as it suits you, if you like what
				you've
				seen here!
			</p>
		</div>
		<div class="my- mt-4 basis-1/2 rounded-box bg-info p-4 shadow-2xl shadow-info/20 bg-opacity-30">
			<p class="text-justify">
				<strong class="text-xl">About Me</strong>
				<br/>
				My name is Wyndham,
				and I'm a growing Software Engineer with a
				delightful mix of Android and Backend wizardry!🪄🧙🏻‍♀️
				<br/>
				<br/>
				My tech toolbox consist of <strong>Kotlin, Golang</strong>,
				with a dash of
				<strong>Python, Ruby-on-Rails, and Javascript</strong>.
				If you're on the hunt for an Android virtuoso
				who's also got some backend boogie, look no
				further. <a href="/contact">Hit me up!</a>
			</p>
		</div>
	</div>
}
