package pub_tagsuggest

import "github.com/muhwyndhamhp/marknotes/pkg/models"
import "fmt"

templ TagSuggest(tags []models.Tag) {
	<ul class="menu m-6 bg-base-200 rounded-box min-w-52">
		for i, tag := range tags {
			<li class="text-lg text-base-content">
				<a id={ fmt.Sprintf("tag-suggest-%d", i) } class={ templ.KV("active", i == 0) }>{ tag.Title }</a>
			</li>
		}
	</ul>
}
