package pub_tagsuggest

import "github.com/muhwyndhamhp/marknotes/pkg/models"

templ TagSuggest(tags []models.Tag) {
	<div class="dropdown dropdown-open">
		<ul class="p-4 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
			for _, tag := range tags {
				<li class="text-lg text-base-content">{ tag.Title }</li>
			}
		</ul>
	</div>
}
