{{define "hello"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <title>Hello, World!</title>
</head>
<body>
    <p>Hello, World!</p>
    <div id="user-info">
        <p>{{.Name}}</p>
        <button hx-get="/get-info" hx-target="#user-info" hx-swap="innerHTML">Reveal Info</button>
    </div>
</body>
</html>
{{end}}