{{define "posts_new"}}
<!DOCTYPE html>
<html>

<head>
    {{template "head_tags"}}
    <title>Blog Admin</title>
</head>

<body id="admin-root" class="bg-slate-100">
    <div class="{{template "style_root_div"}}">
        {{template "admin_header"}}
        <br>
        <div>
            <form hx-post="/admin/posts/create" hx-target="#admin-root"
                hx-swap="innerHTML">
                <div>
                    <label>Title</label>
                    <br>
                    <input class="{{template "form_input"}} mt-3" type="text"
                        name="title">
                </div>
                <div class="form-group mt-4">
                    <label>Content</label>
                    <br>
                    <textarea id="form-content"
                        class="{{template "form_input"}} h-96 mt-3" type="text"
                        name="content"></textarea>
                </div>
                <button class="{{template "button_style"}}"
                    class="btn">Submit</button>
            </form>
            <button class="{{template "button_style"}}"
                onclick="backPress()">Cancel</button>
        </div>
    </div>
</body>

</html>
{{end}}