{{define "posts_detail"}}
<!DOCTYPE html>
<html>

<head>
    {{template "head_tags"}}
    <title>mwyndham.dev</title>
</head>

<body id="admin-root">
    <div class="{{template "style_root_div"}} lg:w-3/5 sm:w-4/5 xs:w-10/12 self-center mx-auto px-auto my-10">
        {{template "admin_header"}}
        <br>
        <h1>{{.Title}}</h1>
        <!-- <button hx-get="/posts/{{.ID}}/edit" hx-target="#admin-root" hx-push-url="true">Edit</button> -->
        <div class="inline flex-auto list-none">
            <button hx-get="/posts/{{.ID}}/edit" hx-target="#admin-root" hx-push-url="true" class="inline-block mx-2 mt-4"> Edit</button>
            <div class="inline-block mx-2">Delete</div>
        </div>
        <br>
        {{.EncodedContent}}
    </div>
</body>
</html>
{{end}}