package pub_base

import "github.com/muhwyndhamhp/marknotes/pub/variables"

func IsVisible(authRule pub_variables.AuthRule, userID uint) bool {
	if authRule == "always-mode" ||
		(authRule == "user-mode" && userID != 0) ||
		(authRule == "guest-mode" && userID == 0) {
		return true
	} else {
		return false
	}
}

templ Stub() {
}
