@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: marknotes-light, sunset --prefersdark;
}


@plugin "daisyui/theme" {
    name: "marknotes-light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(20% 0 0);
    --color-primary: oklch(79% 0.209 151.711);
    --color-primary-content: oklch(25% 0.09 281.288);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(50% 0.134 242.749);
    --color-accent-content: oklch(98% 0.014 180.72);
    --color-neutral: oklch(14% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(95% 0.026 236.824);
    --color-success: oklch(52% 0.154 150.069);
    --color-success-content: oklch(95% 0.052 163.051);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.072 132.109);
    --color-error: oklch(52% 0.223 3.958);
    --color-error-content: oklch(94% 0.03 12.58);
    --radius-selector: 2rem;
    --radius-field: 1rem;
    --radius-box: 0.5rem;
    --size-selector: 0.3125rem;
    --size-field: 0.21875rem;
    --border: 2px;
    --depth: 1;
    --noise: 1;
}

@layer utilities {
    .grid-bg {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='%23ddd'%3E%3Cpath d='M10 0v1M10 19v1M0 10h1M19 10h1'/%3E%3C/svg%3E");
        background-size: 40px 40px;
    }

    .dark .grid-bg {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='%23444'%3E%3Cpath d='M10 0v1M10 19v1M0 10h1M19 10h1'/%3E%3C/svg%3E");
        background-size: 40px 40px;
    }
}

@custom-variant dark (&:is(.dark *));

html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@theme {
    --breakpoint-*: initial;
    --breakpoint-xs: 320px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-itn: 880px;
    --breakpoint-lg: 1024px;
    --breakpoint-itn2: 1150px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1920px;
    --breakpoint-4xl: 2560px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer base {

    [un-cloak] {
        display: none;
    }
}


pre {
    @apply font-mono;

}

.hljs-comment,
.hljs-quote {
    @apply text-gray-500;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    @apply text-yellow-400;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
    @apply text-rose-400;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
    @apply text-green-200;
}

.hljs-title,
.hljs-section {
    @apply text-amber-200;
}

.hljs-keyword,
.hljs-selector-tag {
    @apply text-cyan-200;
}

.hljs-emphasis {
    @apply italic;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}


