package pub_footermenu

import "github.com/muhwyndhamhp/marknotes/pub/elements"
import "github.com/muhwyndhamhp/marknotes/pub/variables"

templ FooterMenu(buttons []pub_variables.InlineButton) {
	<div class="mt-20 h-16 w-full flex-row bg-slate-200 px-8 pt-2 text-center dark:bg-slate-900">
		<div class="inline w-full flex-auto rounded-md bg-slate-200 py-4 dark:bg-slate-900 md:px-4">
			for _, btn := range buttons {
				@pub_elements.AnchorButton(btn)
			}
		</div>
	</div>
}
